html {
  --primary: #990099;
  --font: "Andale Mono", "Menlo", "Courier New", Courier, monospace;
  --white: white;
  --gray: #d8d8d8;
  --white: #fff;
  --black: #030303;
  background-image: url(2020-05-14-julius-caesar-marble-statue-shutterstock.jpg);
  background-size: 2000px;
}

h1,
h2 {
  color: var(--primary);
  border-bottom: 5px solid var(--primary);
  padding: 20px;
  margin-top: 0px;
  font-size: 3em;
  font-weight: 100;
}

label {
  margin: 20px;
  color: var(--darkGray);
}

#output {
  font-family: "Special Elite", cursive;
  font-size: 32px;
  color: maroon;
  display: block;
  font-family: var(--font);
  font-size: 2em;
  padding: 10px;
  font-weight: 100;
  border: 3px solid var(--gray);
  margin: 20px;
  background-color: var(--white);
  width: calc(100% - 65px);
}

.mainContainer {
  max-width: 1000px;
  margin: 0 auto;
}

hr {
  border: 1px solid var(--primary);
  margin: 50px 0px;
}
